html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(25, 23, 23, 0.2) url('../public/images/back.png');
  background-blend-mode: multiply;
  background-size: cover;
  background-position-y: bottom;
}

.App {
  text-align: center;
}

.candle-first {
  position: absolute;
  right: 170px;
  top: 110px;
  height: 8em;
  transform: rotate(37deg);
}

.candle-second {
  position: absolute;
  right: 50px;
  top: 250px;
  height: 10em;
  transform: rotate(71deg);
}

.go-back {
  display: block;
  background: none;
  border: none;
  padding: 20px;
  font-size: 1.3em;
  font-weight: 600;
  outline: none;
}

.go-back a {
  text-decoration: none;
  color: #fff;
}

.choose-btn {
  background: none;
  border: none;
  font-size: 2em;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 20px 20px;
  outline: none;
  cursor: pointer;
}


img {
  border-radius: 30px;
  height: 15em;
}

.card {
  cursor: pointer;
}

.center-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;  
}

.center-line img {
  margin: 0 20px;
}

.is-flipped .card__face--front{
  display: inline;
}

.card-wrapper {
  position: absolute;
  cursor: pointer;
}

.card-wrapper .overlay{
  display: none;
}

.card-wrapper:hover .overlay{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #fbf7f75e;
}

.deck {
  position: relative;
  height: 20em;
  margin-top: 360px;
}

.pick-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pick {
  position: relative;
  margin: 0 20px;
}

.pick p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

.pick img {
  height: 22em;
}

.chosen-card {
  height: 560px;
  width: 400px;
  perspective: 600px;
  margin: 0 auto;
}

.chosen-card .card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 2s ease 0.2s;
  transform-style: preserve-3d;
}

.chosen-card .card img{
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face--front {
  transform: rotateY( 180deg );
}

.big {
  height: 50em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background:none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  z-index: 3;
}

.veil {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}