html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(25, 23, 23, 0.7) url('../public/images/back.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  height: 100%;
}

.App {
  text-align: center;
}

.go-back {
  display: block;
  background: none;
  border: none;
  padding: 20px;
  font-size: 1.3em;
  font-weight: 600;
  outline: none;
}

.go-back a {
  text-decoration: none;
  color: #fff;
}

.choose-btn {
  background: none;
  border: none;
  font-size: 2em;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 20px 20px;
  outline: none;
  cursor: pointer;
}


img {
  border-radius: 30px;
  height: 15em;
}

.card {
  cursor: pointer;
}

.center-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;  
}

.center-line img {
  margin: 0 20px;
}

.card__face--front{
  display: none;
}

.is-flipped .card__face--front{
  display: inline;
}

.is-flipped .card__face--back{
  display: none;
}

.cardd, .hero-deck_card {
  position: absolute;
  cursor: pointer;
}

.cardd:hover, .hero-deck_card:hover {
  top: -55px;
}

.deck, .old-deck {
  position: relative;
  height: 20em;
}

.pick-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pick {
  position: relative;
  margin: 0 20px;
}

.pick p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

.pick img {
  height: 22em;
}

.chosen-card .card img{
  height: 30em;
}

.big {
  height: 50em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  background:none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  z-index: 3;
}

.veil {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}